<div class="detail">
    <div class="content">
      <div>
        <p>id: {{ EmployeeList.id }}</p>
        <p>employee_name: {{ EmployeeList.employee_name }}</p>
        <p>employee_salary: {{ EmployeeList.employee_salary }}</p>
        <p>employee_age: {{ EmployeeList.employee_age }}</p>
        <p>profile_image: {{ EmployeeList.profile_image }}</p>
        <p>annual salary: {{ EmployeeList.EmployeeSalary }}</p>
      </div>
    </div>
    <div>
        <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/employee-list']">Back</button>
    </div>
  </div>